# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android signing - NUNCA commites!
android/key.properties
android/keystore/

# IDEs
.idea/
.vscode/
*.iml

# macOS
.DS_Store
