services:
  - type: web
    name: busca-ia-api
    env: node
    region: oregon
    plan: free
    buildCommand: npm install
    startCommand: node src/index.js
    healthCheckPath: /
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000