# ============================================================
# FICHEIRO DE ASSINATURA - key.properties
# Coloca este ficheiro em: android/key.properties
# NÃO commites este ficheiro no Git!
# ============================================================

storePassword=SUA_SENHA_DO_KEYSTORE
keyPassword=SUA_SENHA_DA_KEY
keyAlias=codeme
storeFile=../keystore/codeme-release.jks
